
.back{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/espe-banner-estudiantes.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 110vh;
    background-position: center calc(100% + 20px); /* Mueve la imagen 20px hacia abajo */
    padding-top: 28%;
    padding-right: 50px;
    color: #fff;
    text-align: center;
    
}

.back h1{
    font-size: 100px;
    font-weight: 400;
}

.marigin{
    margin-top: 46.2% ;
}

.container {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.centered-title {
    font-size: 56px; /* Cambia el tamaño del texto según tus preferencias */
    font-family: 'TuFuente', sans-serif;
    font-weight: bold
}

.centered-title1 {
    font-size: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.left-paragraph, .right-paragraph {
    flex-basis: 50%;
}

.left-paragraph p, .right-paragraph {
    text-align: justify;
}

.left-image, .right-image {
    flex-basis: 50%;
}

.imagen-pequena {
    width: 400px;
    height: 200px;
}

.imagen-pequena1 {
    width: 500px;
    height: 300px;
}

.separator {
    width: 100%;
    height: 2px; /* Grosor del separador */
    background-color: #333; /* Color del separador */
    margin: 20px 0; /* Espacio entre los títulos y el separador */
}

.containerMV{
    display: flex;
    justify-content: center;
}

.container_MisionV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 8px 12px rgb(88, 87, 87);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)); /* Opacidad aumentada a 0.5 */
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_MisionV img {
  z-index: -1; /* Asegura que la imagen esté detrás del fondo de degradado */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container_MisionV h3 {
    font-size: 1.5rem; /* Ajusta el tamaño del h3 según tus preferencias */
    color: white;
}

.container_MisionV p {
    font-size: 0.9rem;
    color: white; /* Texto en blanco para mayor contraste con el fondo de degradado negro */
    width: 80%;
    text-shadow: 0 0 8px rgba(61, 61, 61, 0.8);
    text-align: justify;
}
.container_MisionV h3{
    justify-content: center;
}

/* Define la animación */
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Sube la imagen 20px a la mitad de la animación */
    }
    100% {
      transform: translateY(0);
    }
}
  
  /* Aplica la animación a la clase .animated-image */
.animated-image {
    animation: moveUpDown 4s ease-in-out infinite; /* 4 segundos de duración, bucle infinito */
}

.vertical-line {
    width: 2px; /* Grosor de la línea vertical */
    height: 200px; /* Altura de la línea vertical, ajusta según sea necesario */
    background-color: #333; /* Color de la línea vertical */
    margin: 0 20px; /* Margen a ambos lados de la línea vertical */
  }
  
  